:host {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.faq {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 42px;
    &__left {
        flex: 1.2;
    }

    &__right {
        flex: 0.8;
    }

    &__accordion {
        margin-top: 40px;
    }

    &__content {
        width: 100%;
        gap: 20px;
    }

    &__actions {
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 11px;
    }

    &__action {
        width: 100%;
    }

    &__tip {
        gap: 11px;
    }
}


.accordion {
    &__item {
        width: 100%;
        transition: all 0.3s ease;

        &--active {
            .accordion__icon {
                transform: rotate(180deg);
            }

            .accordion__collapse {
                grid-template-rows: 1fr;
                opacity: 1;
                padding-bottom: 24px;
            }
        }
    }

    &__header {
        padding: 24px 0;
        gap: 20px;
    }

    &__question {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        flex: 1;
    }

    &__toggle-btn {
        width: 50px;
        height: 50px;
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: all 0.3s ease;
    }

    &__icon-text {
        font-family: var(--main-font);
        font-weight: 200;
        font-size: 44px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        color: var(--bgcolor-btn-main);
    }

    &__collapse {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.3s ease, opacity 0.3s ease;
        overflow: hidden;
        opacity: 0;
    }

    &__body {
        min-height: 0;
    }

}

.delim {
    height: 1px;
    background-color: #EAEAEA;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .accordion {
        &__question {
            text-align: left;
        }
    }

    .faq {
        &__actions {
            display: flex !important;
        }

    }
}