:host {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.founder {
    width: 100%;
    background: #F0EEEF;

    &__title {
        margin-bottom: 50px;
    }

    &__content {
        padding: 80px 0;
        gap: 60px;
    }

    &__left {
        flex: 1;
    }

    &__right {
        flex: 1;
    }

    &__action {
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .founder {
        &__content {
            flex-direction: column;
        }
    }
}