<footer class="footer p-main flex-column-center">
    <div class="footer__content max-width flex-row-center">
        @for(item of data.items; track item; let i = $index; let first = $first; let count = $count) {
        <div class="footer__item flex-row items-center">
            <img class="footer__item-icon" [src]="item.icon" alt="icom">
            <span>{{item.title}}</span>
        </div>

            @if (first) {
                <div class="delim"></div>
            }

            @if (i === count - 2) {
                <div class="delim"></div>
            }

        }

    </div>
</footer>