:host {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.footer {
    width: 100%;
    background: linear-gradient(0deg, #F9F0E5 0%, rgba(249, 240, 229, 0.18) 43.05%, rgba(249, 240, 229, 0) 100%);
    padding-top: 350px;
    padding-bottom: 80px;
    &__content {
        gap: 8px;
        padding: 10px 0;
    }

    &__item {
        gap: 8px;
    }

    &__item-icon {
        width: 33px;
        height: 33px;
    }

    .delim {
        width: 1px;
        height: 50px;
        background-color: #C4C4C480;
    }

}

@media screen and (max-width: 768px) {
    .delim {
        display: none;
    }
    .footer {
        &__content {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            justify-content: center;
        }
    }

}
