@if (pageData$ | async; as page) {

    @for (section of page.Sections; track section.id || $index) {
      @if (section.type === 'header') {
        <app-header [data]="section" />
      }
    }
  
    <main class="main-content">
      @for (section of page.Sections; track section.id || $index) {
        @if (section.type !== 'header' && section.type !== 'sectionFooter') {
          
          @switch (section.type) {
            @case ('sectionHero') { <app-hero [data]="section" /> }
            @case ('sectionBenefits') { <app-benefits [data]="section" /> }
            @case ('sectionFounder') { <app-founder [data]="section" /> }
            @case ('sectionHowToOrder') { <app-hero [data]="section" /> }
            @case ('sectionReviews') { <app-reviews [data]="section" /> }
            @case ('sectionFaq') { <app-faq [data]="section" /> }
            @case ('sectionInfoBanner') { <app-info-banner [data]="section" /> }
            @case ('sectionFinal') { <app-final [data]="section" /> }
          }
  
        }
      }
    </main>
  
    @for (section of page.Sections; track section.id || $index) {
      @if (section.type === 'sectionFooter') {
        <app-footer [data]="section" />
      }
    }
  
  }