@font-face {
    font-family: 'suisseIntl';
    src: url('/fonts/suisse-intl-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sofiaPro';
    src: url('/fonts/sofia-pro-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-first: #F9F0E5;
    --bg-second: #F9F0E5;
    --main-font: 'suisseIntl', sans-serif;
    --secondary-font: 'sofiaPro', sans-serif;
    --color-text-header: #01005B;
    --color-text-p: #676869;
    --color-text-span: #828282;
    --bgcolor-btn-main: #01005B;
    --bgcolor-btn-main-hover: #020080;
    --color-main: #FFFFFF;
    --border-color-main: #EDEDED;
    --mob-text-header-size: 26px;
    --mob-text-header-size-xs: 22px;
    --mob-text-p-size: 12px;
}


html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.br-bx {
    box-sizing: border-box;
}

.max-width {
    width: 100%;
    max-width: 1250px;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.p-main {
    padding: 0 25px 0 25px;
}

.mb-show {
    display: none;
}

.mb-hide {
    display: block;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    width: 100%;
    max-width: 370px;
    padding: 17px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    color: var(--color-main);
    background-color: var(--bgcolor-btn-main);
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: 'suisseIntl';
    font-size: 18px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.btn > img {
    width: 23px;
}

.btn:hover {
    background-color: var(--bgcolor-btn-main-hover);
}

h2 {
    font-size: 32px;
    font-family: var(--secondary-font);
    color: var(--color-text-header);
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
}

p {
    font-family: var(--secondary-font);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--color-text-p);
    margin: 0;
    line-height: 23px;
}

span {
    display: block;
    font-family: var(--main-font);
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--color-text-span);
}

.btn > span {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--color-main);
    margin: 0;
}

.t-center {
    text-align: center;
}

.ls-2 {
    letter-spacing: 2px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-15 {
    font-size: 15px;
}

.fw-400 {
    font-weight: 400;
}


@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    .mb-hide {
        display: none;
    }

    .mb-show {
        display: block;
    }

    .btn {
        max-width: 400px;
    }

    h2 {
        text-align: center;
        font-size: var(--mob-text-header-size) !important;
    }
    p {
        font-size: var(--mob-text-p-size);
        line-height: 18px;
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 376px) {
    h2 {
        text-align: center;
        font-size: var(--mob-text-header-size-xs) !important;
    }
    p {
        line-height: 14px;
    }
}