:host {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.final {
    padding-top: 88px;
    padding-bottom: 88px;

    &__content {
        gap: 20px;
    }

    &__actions {
        gap: 11px;
        margin-top: 58px;
    }

    &__action {
        gap: 11px;
        width: 100%;
    }

    &__tip {
        gap: 8px;

        span {
            color: #1FAD40;
            font-size: 10px;
            letter-spacing: 2px;
        }
    }

    &__tip-item {
        gap: 8px;
        width: 190px;
    }

    &__tip-icon {
        width: 11px;
        height: 11px;
    }

    &__tip-payment {
        height: 100%;
    }

}