:host {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.hero {
    padding-bottom: 60px;

    &__content {
        gap: 10px;
    }

    &__top {
        margin: 33px 0 62px 0;
    }

    &__left {
        position: relative;
        flex: 0.8;
        gap: 25px;
    }

    &__right {
        flex: 1.2;

        img {
            max-width: 725px;
        }
    }

    &__title {
        font-size: 38px;
    }

    &__logo {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    &__subtitle-list {
        gap: 25px;
    }

    &__subtitle-item {
        gap: 10px;

        img {
            width: 31px;
            height: 31px;
        }
    }
}

.review-card {
    padding: 16px 19px 16px 19px;
    margin-bottom: -160px;
    box-shadow: 0px 3px 10px 0px #00000014;
    background-color: var(--color-main);
    border: 1px solid var(--border-color-main);
    border-radius: 8px;
    width: 100%;
    max-width: 416px;
    gap: 12px;

    &__header {}

    &__icon {
        width: 39px;
    }

    &__info {
        gap: 10px;
    }

    &__user-row {
        gap: 5px;
    }

    &__user-name {}

    &__meta {}

    &__body {}

    &__text {
        font-family: var(--main-font);
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        &__top {
            margin: 13px 0;
            justify-content: center;
        }

        &__left {
            flex: 1;
            justify-content: center;
            align-items: center;
            gap: 17px;
        }

        &__action {
            justify-content: center;
        }

    }

    .review-card {
        &__info {
            gap: 1px;
            flex-wrap: wrap-reverse;
        }
    }
}